In [3]:
import pandas as pd
import numpy as np
import lightgbm as lgb
#import xgboost as xgb
from scipy.sparse import vstack, csr_matrix, save_npz, load_npz
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
#from sklearn.metrics import roc_auc_score
import gc
gc.enable()

dtypes = {
        'MachineIdentifier':                                    'category',
        'ProductName':                                          'category',
        'EngineVersion':                                        'category',
        'AppVersion':                                           'category',
        'AvSigVersion':                                         'category',
        'IsBeta':                                               'int8',
        'RtpStateBitfield':                                     'float16',
        'IsSxsPassiveMode':                                     'int8',
        'DefaultBrowsersIdentifier':                            'float16',
        'AVProductStatesIdentifier':                            'float32',
        'AVProductsInstalled':                                  'float16',
        'AVProductsEnabled':                                    'float16',
        'HasTpm':                                               'int8',
        'CountryIdentifier':                                    'int16',
        'CityIdentifier':                                       'float32',
        'OrganizationIdentifier':                               'float16',
        'GeoNameIdentifier':                                    'float16',
        'LocaleEnglishNameIdentifier':                          'int8',
        'Platform':                                             'category',
        'Processor':                                            'category',
        'OsVer':                                                'category',
        'OsBuild':                                              'int16',
        'OsSuite':                                              'int16',
        'OsPlatformSubRelease':                                 'category',
        'OsBuildLab':                                           'category',
        'SkuEdition':                                           'category',
        'IsProtected':                                          'float16',
        'AutoSampleOptIn':                                      'int8',
        'PuaMode':                                              'category',
        'SMode':                                                'float16',
        'IeVerIdentifier':                                      'float16',
        'SmartScreen':                                          'category',
        'Firewall':                                             'float16',
        'UacLuaenable':                                         'float32',
        'Census_MDC2FormFactor':                                'category',
        'Census_DeviceFamily':                                  'category',
        'Census_OEMNameIdentifier':                             'float16',
        'Census_OEMModelIdentifier':                            'float32',
        'Census_ProcessorCoreCount':                            'float16',
        'Census_ProcessorManufacturerIdentifier':               'float16',
        'Census_ProcessorModelIdentifier':                      'float16',
        'Census_ProcessorClass':                                'category',
        'Census_PrimaryDiskTotalCapacity':                      'float32',
        'Census_PrimaryDiskTypeName':                           'category',
        'Census_SystemVolumeTotalCapacity':                     'float32',
        'Census_HasOpticalDiskDrive':                           'int8',
        'Census_TotalPhysicalRAM':                              'float32',
        'Census_ChassisTypeName':                               'category',
        'Census_InternalPrimaryDiagonalDisplaySizeInInches':    'float16',
        'Census_InternalPrimaryDisplayResolutionHorizontal':    'float16',
        'Census_InternalPrimaryDisplayResolutionVertical':      'float16',
        'Census_PowerPlatformRoleName':                         'category',
        'Census_InternalBatteryType':                           'category',
        'Census_InternalBatteryNumberOfCharges':                'float32',
        'Census_OSVersion':                                     'category',
        'Census_OSArchitecture':                                'category',
        'Census_OSBranch':                                      'category',
        'Census_OSBuildNumber':                                 'int16',
        'Census_OSBuildRevision':                               'int32',
        'Census_OSEdition':                                     'category',
        'Census_OSSkuName':                                     'category',
        'Census_OSInstallTypeName':                             'category',
        'Census_OSInstallLanguageIdentifier':                   'float16',
        'Census_OSUILocaleIdentifier':                          'int16',
        'Census_OSWUAutoUpdateOptionsName':                     'category',
        'Census_IsPortableOperatingSystem':                     'int8',
        'Census_GenuineStateName':                              'category',
        'Census_ActivationChannel':                             'category',
        'Census_IsFlightingInternal':                           'float16',
        'Census_IsFlightsDisabled':                             'float16',
        'Census_FlightRing':                                    'category',
        'Census_ThresholdOptIn':                                'float16',
        'Census_FirmwareManufacturerIdentifier':                'float16',
        'Census_FirmwareVersionIdentifier':                     'float32',
        'Census_IsSecureBootEnabled':                           'int8',
        'Census_IsWIMBootEnabled':                              'float16',
        'Census_IsVirtualDevice':                               'float16',
        'Census_IsTouchEnabled':                                'int8',
        'Census_IsPenCapable':                                  'int8',
        'Census_IsAlwaysOnAlwaysConnectedCapable':              'float16',
        'Wdft_IsGamer':                                         'float16',
        'Wdft_RegionIdentifier':                                'float16',
        'HasDetections':                                        'int8'
        }

In [8]:

print('Download Train and Test Data.\n')
train = pd.read_csv('/home/ryan/cs/datasets/microsoft/train.csv', dtype=dtypes, low_memory=True)
train['MachineIdentifier'] = train.index.astype('uint32')
test  = pd.read_csv('/home/ryan/cs/datasets/microsoft/test.csv',  dtype=dtypes, low_memory=True)
test['MachineIdentifier']  = test.index.astype('uint32')

gc.collect()

Download Train and Test Data.

202205

In [10]:
train.head()

,MachineIdentifier,ProductName,EngineVersion,AppVersion,AvSigVersion,IsBeta,RtpStateBitfield,IsSxsPassiveMode,DefaultBrowsersIdentifier,AVProductStatesIdentifier,...,Census_FirmwareVersionIdentifier,Census_IsSecureBootEnabled,Census_IsWIMBootEnabled,Census_IsVirtualDevice,Census_IsTouchEnabled,Census_IsPenCapable,Census_IsAlwaysOnAlwaysConnectedCapable,Wdft_IsGamer,Wdft_RegionIdentifier,HasDetections
0,0,5,0,0,0,1,7,0,NaN,53447.0,...,36144.0,0,NaN,0.0,0,0,0.0,0.0,10.0,0
1,1,5,57,30,6466,1,7,0,NaN,53447.0,...,57858.0,0,NaN,0.0,0,0,0.0,0.0,8.0,0
2,2,5,0,0,0,1,7,0,NaN,53447.0,...,52682.0,0,NaN,0.0,0,0,0.0,0.0,3.0,0
3,3,5,0,0,0,1,7,0,NaN,53447.0,...,20050.0,0,NaN,0.0,0,0,0.0,0.0,3.0,1
4,4,5,0,0,0,1,7,0,NaN,53447.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,1.0,1

In [27]:
col = 'Census_OSBuildRevision'
train[col] = train[col].astype('str')
test[col] = test[col].astype('str')

In [28]:
train[col].head()

0    165
1      1
2    165
3    228
4    191
Name: Census_OSBuildRevision, dtype: object

In [29]:
test[col].head()

0    1387
1     611
2    2189
3     371
4     371
Name: Census_OSBuildRevision, dtype: object

In [34]:
le = LabelEncoder().fit(np.unique(train[col].unique().tolist()+test[col].unique().tolist()))

In [37]:
train[col] = le.transform(train[col])+1
test[col] = le.transform(test[col])+1

In [38]:
train[col].head()

0     83
1      2
2     83
3    181
4    152
Name: Census_OSBuildRevision, dtype: int64

In [39]:
test[col].head()

0     52
1    276
2    174
3    232
4    232
Name: Census_OSBuildRevision, dtype: int64

In [44]:
agg_tr = train.groupby([col]).aggregate({'MachineIdentifier':'count'})

In [46]:
type(agg_tr)

pandas.core.frame.DataFrame

In [49]:
agg_tr

                        MachineIdentifier
Census_OSBuildRevision
1                                  166369
2                                  106583
3                                     940
4                                    9178
5                                     960
6                                     143
7                                    1506
8                                    3424
9                                      16
11                                   5571
12                                  25401
13                                     32
14                                  23002
15                                  10994
16                                   4137
17                                   1295
18                                  19799
20                                  63274
21                                      1
22                                   1723
23                                  18619
24                                      5
25                                   3551
26                                 346488
27                                      1
28                                    125
29                                  46052
30                                 182087
31                                     21
32                                   1856
...                                   ...
290                                 50955
291                                     1
292                                   525
294                                  4247
295                                  4550
297                                 33002
298                                  2654
299                                    56
300                                 16053
304                                 39747
305                                    90
306                                 55384
308                                  2283
309                                   225
310                                  5236
311                                     5
312                                 31653
313                                  5056
314                                  1386
315                                 24183
316                                     1
317                                  6240
318                                   505
319                                 17972
320                                  5126
321                                 20388
322                                  1525
323                                  1354
324                                 17567
325                                   889

[285 rows x 1 columns]

In [51]:
agg_tr = agg_tr.reset_index()
agg_tr

     Census_OSBuildRevision  MachineIdentifier
0                         1             166369
1                         2             106583
2                         3                940
3                         4               9178
4                         5                960
5                         6                143
6                         7               1506
7                         8               3424
8                         9                 16
9                        11               5571
10                       12              25401
11                       13                 32
12                       14              23002
13                       15              10994
14                       16               4137
15                       17               1295
16                       18              19799
17                       20              63274
18                       21                  1
19                       22               1723
20                       23              18619
21                       24                  5
22                       25               3551
23                       26             346488
24                       27                  1
25                       28                125
26                       29              46052
27                       30             182087
28                       31                 21
29                       32               1856
..                      ...                ...
255                     290              50955
256                     291                  1
257                     292                525
258                     294               4247
259                     295               4550
260                     297              33002
261                     298               2654
262                     299                 56
263                     300              16053
264                     304              39747
265                     305                 90
266                     306              55384
267                     308               2283
268                     309                225
269                     310               5236
270                     311                  5
271                     312              31653
272                     313               5056
273                     314               1386
274                     315              24183
275                     316                  1
276                     317               6240
277                     318                505
278                     319              17972
279                     320               5126
280                     321              20388
281                     322               1525
282                     323               1354
283                     324              17567
284                     325                889

[285 rows x 2 columns]

In [53]:
agg_tr = agg_tr.rename({'MachineIdentifier':'Train'}, axis=1)

In [54]:
agg_tr

     Census_OSBuildRevision   Train
0                         1  166369
1                         2  106583
2                         3     940
3                         4    9178
4                         5     960
5                         6     143
6                         7    1506
7                         8    3424
8                         9      16
9                        11    5571
10                       12   25401
11                       13      32
12                       14   23002
13                       15   10994
14                       16    4137
15                       17    1295
16                       18   19799
17                       20   63274
18                       21       1
19                       22    1723
20                       23   18619
21                       24       5
22                       25    3551
23                       26  346488
24                       27       1
25                       28     125
26                       29   46052
27                       30  182087
28                       31      21
29                       32    1856
..                      ...     ...
255                     290   50955
256                     291       1
257                     292     525
258                     294    4247
259                     295    4550
260                     297   33002
261                     298    2654
262                     299      56
263                     300   16053
264                     304   39747
265                     305      90
266                     306   55384
267                     308    2283
268                     309     225
269                     310    5236
270                     311       5
271                     312   31653
272                     313    5056
273                     314    1386
274                     315   24183
275                     316       1
276                     317    6240
277                     318     505
278                     319   17972
279                     320    5126
280                     321   20388
281                     322    1525
282                     323    1354
283                     324   17567
284                     325     889

[285 rows x 2 columns]

In [57]:
agg_te = (test
              .groupby([col])
              .aggregate({'MachineIdentifier':'count'})
              .reset_index()
              .rename({'MachineIdentifier':'Test'}, axis=1))

In [58]:
agg_te

     Census_OSBuildRevision    Test
0                         1  166919
1                         2  179005
2                         3    1240
3                         4    8550
4                         5     987
5                         6      20
6                         7     425
7                         8     419
8                         9       4
9                        10      87
10                       11    3791
11                       12   14498
12                       13      25
13                       14   23058
14                       15    7304
15                       16    2962
16                       17     792
17                       18   13356
18                       19   11180
19                       20   35194
20                       22    1920
21                       23   13752
22                       24       2
23                       25    2007
24                       26  227122
25                       28      60
26                       29   18555
27                       30  164920
28                       31       8
29                       32     578
..                      ...     ...
264                     295    3221
265                     296       1
266                     297  147238
267                     298    1695
268                     299      47
269                     300   11593
270                     301    3934
271                     302       1
272                     303   47232
273                     304   23288
274                     305      78
275                     306   42187
276                     307       1
277                     308    1579
278                     309     350
279                     310    3612
280                     311       2
281                     312   18362
282                     313    3419
283                     314     885
284                     315   14165
285                     317    4323
286                     318     343
287                     319   12348
288                     320    3574
289                     321   11670
290                     322    1150
291                     323    1489
292                     324   22493
293                     325     550

[294 rows x 2 columns]

In [60]:
agg = pd.merge(agg_tr, agg_te, on=col, how='outer').replace(np.nan, 0)

In [61]:
agg

     Census_OSBuildRevision     Train       Test
0                         1  166369.0   166919.0
1                         2  106583.0   179005.0
2                         3     940.0     1240.0
3                         4    9178.0     8550.0
4                         5     960.0      987.0
5                         6     143.0       20.0
6                         7    1506.0      425.0
7                         8    3424.0      419.0
8                         9      16.0        4.0
9                        11    5571.0     3791.0
10                       12   25401.0    14498.0
11                       13      32.0       25.0
12                       14   23002.0    23058.0
13                       15   10994.0     7304.0
14                       16    4137.0     2962.0
15                       17    1295.0      792.0
16                       18   19799.0    13356.0
17                       20   63274.0    35194.0
18                       21       1.0        0.0
19                       22    1723.0     1920.0
20                       23   18619.0    13752.0
21                       24       5.0        2.0
22                       25    3551.0     2007.0
23                       26  346488.0   227122.0
24                       27       1.0        0.0
25                       28     125.0       60.0
26                       29   46052.0    18555.0
27                       30  182087.0   164920.0
28                       31      21.0        8.0
29                       32    1856.0      578.0
..                      ...       ...        ...
295                     139       0.0     1251.0
296                     140       0.0        1.0
297                     146       0.0        1.0
298                     148       0.0        1.0
299                     149       0.0        1.0
300                     154       0.0        4.0
301                     156       0.0        2.0
302                     157       0.0        1.0
303                     161       0.0        3.0
304                     186       0.0        1.0
305                     189       0.0        8.0
306                     198       0.0        3.0
307                     199       0.0        1.0
308                     208       0.0     5219.0
309                     209       0.0     1790.0
310                     210       0.0     3075.0
311                     222       0.0   131449.0
312                     228       0.0  1377568.0
313                     233       0.0        2.0
314                     234       0.0   152041.0
315                     237       0.0   520122.0
316                     241       0.0        1.0
317                     261       0.0        3.0
318                     265       0.0   117337.0
319                     293       0.0     3193.0
320                     296       0.0        1.0
321                     301       0.0     3934.0
322                     302       0.0        1.0
323                     303       0.0    47232.0
324                     307       0.0        1.0

[325 rows x 3 columns]

In [62]:
agg = agg[(agg['Train'] > 1000)].reset_index(drop=True)

In [63]:
agg

     Census_OSBuildRevision     Train      Test
0                         1  166369.0  166919.0
1                         2  106583.0  179005.0
2                         4    9178.0    8550.0
3                         7    1506.0     425.0
4                         8    3424.0     419.0
5                        11    5571.0    3791.0
6                        12   25401.0   14498.0
7                        14   23002.0   23058.0
8                        15   10994.0    7304.0
9                        16    4137.0    2962.0
10                       17    1295.0     792.0
11                       18   19799.0   13356.0
12                       20   63274.0   35194.0
13                       22    1723.0    1920.0
14                       23   18619.0   13752.0
15                       25    3551.0    2007.0
16                       26  346488.0  227122.0
17                       29   46052.0   18555.0
18                       30  182087.0  164920.0
19                       32    1856.0     578.0
20                       33   25408.0   17129.0
21                       34  102275.0   18304.0
22                       35    5935.0     681.0
23                       36    9768.0    6881.0
24                       39    6393.0    1086.0
25                       40  213342.0  146484.0
26                       41  101237.0   31495.0
27                       42    3302.0     737.0
28                       43    1056.0     875.0
29                       45   33079.0   75775.0
..                      ...       ...       ...
125                     277    5732.0    3820.0
126                     278    4982.0    3365.0
127                     279    9999.0    6905.0
128                     280    3010.0    1463.0
129                     282   14039.0   13232.0
130                     283   38584.0   63449.0
131                     284   10603.0   54373.0
132                     286   34731.0   21742.0
133                     288    7313.0    5024.0
134                     290   50955.0   34655.0
135                     294    4247.0    2499.0
136                     295    4550.0    3221.0
137                     297   33002.0  147238.0
138                     298    2654.0    1695.0
139                     300   16053.0   11593.0
140                     304   39747.0   23288.0
141                     306   55384.0   42187.0
142                     308    2283.0    1579.0
143                     310    5236.0    3612.0
144                     312   31653.0   18362.0
145                     313    5056.0    3419.0
146                     314    1386.0     885.0
147                     315   24183.0   14165.0
148                     317    6240.0    4323.0
149                     319   17972.0   12348.0
150                     320    5126.0    3574.0
151                     321   20388.0   11670.0
152                     322    1525.0    1150.0
153                     323    1354.0    1489.0
154                     324   17567.0   22493.0

[155 rows x 3 columns]

In [64]:
agg['Total'] = agg['Train'] + agg['Test']
    #Drop unbalanced values
agg = agg[(agg['Train'] / agg['Total'] > 0.2) & (agg['Train'] / agg['Total'] < 0.8)]
agg

     Census_OSBuildRevision     Train      Test     Total
0                         1  166369.0  166919.0  333288.0
1                         2  106583.0  179005.0  285588.0
2                         4    9178.0    8550.0   17728.0
3                         7    1506.0     425.0    1931.0
5                        11    5571.0    3791.0    9362.0
6                        12   25401.0   14498.0   39899.0
7                        14   23002.0   23058.0   46060.0
8                        15   10994.0    7304.0   18298.0
9                        16    4137.0    2962.0    7099.0
10                       17    1295.0     792.0    2087.0
11                       18   19799.0   13356.0   33155.0
12                       20   63274.0   35194.0   98468.0
13                       22    1723.0    1920.0    3643.0
14                       23   18619.0   13752.0   32371.0
15                       25    3551.0    2007.0    5558.0
16                       26  346488.0  227122.0  573610.0
17                       29   46052.0   18555.0   64607.0
18                       30  182087.0  164920.0  347007.0
19                       32    1856.0     578.0    2434.0
20                       33   25408.0   17129.0   42537.0
23                       36    9768.0    6881.0   16649.0
25                       40  213342.0  146484.0  359826.0
26                       41  101237.0   31495.0  132732.0
28                       43    1056.0     875.0    1931.0
29                       45   33079.0   75775.0  108854.0
31                       48   21846.0   14708.0   36554.0
32                       49   75873.0   31431.0  107304.0
33                       51    3497.0    3259.0    6756.0
34                       53    7581.0    5932.0   13513.0
35                       58   18817.0   11977.0   30794.0
..                      ...       ...       ...       ...
123                     275   25258.0   16312.0   41570.0
124                     276  216776.0   87497.0  304273.0
125                     277    5732.0    3820.0    9552.0
126                     278    4982.0    3365.0    8347.0
127                     279    9999.0    6905.0   16904.0
128                     280    3010.0    1463.0    4473.0
129                     282   14039.0   13232.0   27271.0
130                     283   38584.0   63449.0  102033.0
132                     286   34731.0   21742.0   56473.0
133                     288    7313.0    5024.0   12337.0
134                     290   50955.0   34655.0   85610.0
135                     294    4247.0    2499.0    6746.0
136                     295    4550.0    3221.0    7771.0
138                     298    2654.0    1695.0    4349.0
139                     300   16053.0   11593.0   27646.0
140                     304   39747.0   23288.0   63035.0
141                     306   55384.0   42187.0   97571.0
142                     308    2283.0    1579.0    3862.0
143                     310    5236.0    3612.0    8848.0
144                     312   31653.0   18362.0   50015.0
145                     313    5056.0    3419.0    8475.0
146                     314    1386.0     885.0    2271.0
147                     315   24183.0   14165.0   38348.0
148                     317    6240.0    4323.0   10563.0
149                     319   17972.0   12348.0   30320.0
150                     320    5126.0    3574.0    8700.0
151                     321   20388.0   11670.0   32058.0
152                     322    1525.0    1150.0    2675.0
153                     323    1354.0    1489.0    2843.0
154                     324   17567.0   22493.0   40060.0

[134 rows x 4 columns]

In [65]:
train[col].shape

(8921483,)

In [67]:
agg[col+'Copy'] = agg[col]

/home/ryan/.virtualenvs/python3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
merged = pd.merge(train[[col]], agg[[col, col+'Copy']], on=col, how='left')

In [69]:
merged

         Census_OSBuildRevision  Census_OSBuildRevisionCopy
0                            83                         NaN
1                             2                         2.0
2                            83                         NaN
3                           181                         NaN
4                           152                         NaN
5                            83                         NaN
6                            83                         NaN
7                             1                         1.0
8                           207                         NaN
9                           242                       242.0
10                           92                         NaN
11                          181                         NaN
12                          152                         NaN
13                          181                         NaN
14                          152                         NaN
15                          181                         NaN
16                           73                        73.0
17                          152                         NaN
18                          214                       214.0
19                          219                       219.0
20                            1                         1.0
21                          130                         NaN
22                          181                         NaN
23                          181                         NaN
24                           49                        49.0
25                           40                        40.0
26                          152                         NaN
27                           26                        26.0
28                          181                         NaN
29                           59                        59.0
...                         ...                         ...
8921453                     214                       214.0
8921454                     207                         NaN
8921455                      58                        58.0
8921456                      83                         NaN
8921457                       2                         2.0
8921458                     215                       215.0
8921459                     290                       290.0
8921460                     214                       214.0
8921461                     250                       250.0
8921462                     160                       160.0
8921463                     219                       219.0
8921464                     242                       242.0
8921465                     214                       214.0
8921466                     108                       108.0
8921467                     232                       232.0
8921468                       2                         2.0
8921469                     290                       290.0
8921470                     152                         NaN
8921471                      83                         NaN
8921472                      26                        26.0
8921473                     242                       242.0
8921474                     219                       219.0
8921475                     158                       158.0
8921476                     202                       202.0
8921477                      41                        41.0
8921478                     242                       242.0
8921479                     288                       288.0
8921480                     232                       232.0
8921481                     250                       250.0
8921482                     181                         NaN

[8921483 rows x 2 columns]

In [79]:
print('Transform all features to category.\n')
for usecol in train.columns.tolist()[58:-1]:
    print(usecol)

    train[usecol] = train[usecol].astype('str')
    test[usecol] = test[usecol].astype('str')
    
    #Fit LabelEncoder
    le = LabelEncoder().fit(
            np.unique(train[usecol].unique().tolist()+
                      test[usecol].unique().tolist()))

    #At the end 0 will be used for dropped values
    train[usecol] = le.transform(train[usecol])+1
    test[usecol]  = le.transform(test[usecol])+1

    agg_tr = (train
              .groupby([usecol])
              .aggregate({'MachineIdentifier':'count'})
              .reset_index()
              .rename({'MachineIdentifier':'Train'}, axis=1))
    agg_te = (test
              .groupby([usecol])
              .aggregate({'MachineIdentifier':'count'})
              .reset_index()
              .rename({'MachineIdentifier':'Test'}, axis=1))

    agg = pd.merge(agg_tr, agg_te, on=usecol, how='outer').replace(np.nan, 0)
    #Select values with more than 1000 observations
    agg = agg[(agg['Train'] > 1000)].reset_index(drop=True)
    agg['Total'] = agg['Train'] + agg['Test']
    #Drop unbalanced values

    agg = agg[(agg['Train'] / agg['Total'] > 0.2) & (agg['Train'] / agg['Total'] < 0.8)]

    agg[usecol+'Copy'] = agg[usecol]

    train[usecol] = (pd.merge(train[[usecol]], 
                              agg[[usecol, usecol+'Copy']], 
                              on=usecol, how='left')[usecol+'Copy']
                     .replace(np.nan, 0).astype('int').astype('category'))

    test[usecol]  = (pd.merge(test[[usecol]], 
                              agg[[usecol, usecol+'Copy']], 
                              on=usecol, how='left')[usecol+'Copy']
                     .replace(np.nan, 0).astype('int').astype('category'))

#     del le, agg_tr, agg_te, agg, usecol
    gc.collect()
    break
    
          
y_train = np.array(train['HasDetections'])
train_ids = train.index
test_ids  = test.index

# del train['HasDetections'], train['MachineIdentifier'], test['MachineIdentifier']
gc.collect()

Transform all features to category.

Census_OSBuildRevision

0

In [80]:
train['Census_OSBuildRevision']

0            1
1          104
2            1
3            1
4            1
5            1
6            1
7           79
8            1
9           96
10           1
11           1
12           1
13           1
14           1
15           1
16         114
17           1
18          53
19          77
20          79
21           1
22           1
23           1
24          39
25          32
26           1
27         111
28           1
29          70
          ...
8921453     53
8921454      1
8921455     59
8921456      1
8921457    104
8921458     73
8921459    134
8921460     53
8921461    105
8921462     54
8921463     77
8921464     96
8921465     53
8921466     91
8921467     89
8921468    104
8921469    134
8921470      1
8921471      1
8921472    111
8921473     96
8921474     77
8921475     51
8921476      6
8921477     33
8921478     96
8921479    132
8921480     89
8921481    105
8921482      1
Name: Census_OSBuildRevision, Length: 8921483, dtype: category
Categories (135, int64): [1, 2, 3, 4, ..., 132, 133, 134, 135]

In [ ]:

#Fit OneHotEncoder
ohe = OneHotEncoder(categories='auto', sparse=True, dtype='uint8').fit(train)

#Transform data using small groups to reduce memory usage
m = 100000
train = vstack([ohe.transform(train[i*m:(i+1)*m]) for i in range(train.shape[0] // m + 1)])
test  = vstack([ohe.transform(test[i*m:(i+1)*m])  for i in range(test.shape[0] // m +  1)])
save_npz('train.npz', train, compressed=True)
save_npz('test.npz',  test,  compressed=True)

del ohe, train, test
gc.collect()

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
skf.get_n_splits(train_ids, y_train)

lgb_test_result  = np.zeros(test_ids.shape[0])
#lgb_train_result = np.zeros(train_ids.shape[0])
#xgb_test_result  = np.zeros(test_ids.shape[0])
#xgb_train_result = np.zeros(train_ids.shape[0])
counter = 0

print('\nLightGBM\n')

for train_index, test_index in skf.split(train_ids, y_train):
    
    print('Fold {}\n'.format(counter + 1))
    
    train = load_npz('train.npz')
    X_fit = vstack([train[train_index[i*m:(i+1)*m]] for i in range(train_index.shape[0] // m + 1)])
    X_val = vstack([train[test_index[i*m:(i+1)*m]]  for i in range(test_index.shape[0] //  m + 1)])
    X_fit, X_val = csr_matrix(X_fit, dtype='float32'), csr_matrix(X_val, dtype='float32')
    y_fit, y_val = y_train[train_index], y_train[test_index]
    
    del train
    gc.collect()

    lgb_model = lgb.LGBMClassifier(max_depth=-1,
                                   n_estimators=30000,
                                   learning_rate=0.05,
                                   num_leaves=2**12-1,
                                   colsample_bytree=0.28,
                                   objective='binary', 
                                   n_jobs=-1)
                                   
    #xgb_model = xgb.XGBClassifier(max_depth=6,
    #                              n_estimators=30000,
    #                              colsample_bytree=0.2,
    #                              learning_rate=0.1,
    #                              objective='binary:logistic', 
    #                              n_jobs=-1)
    
                               
    lgb_model.fit(X_fit, y_fit, eval_metric='auc', 
                  eval_set=[(X_val, y_val)], 
                  verbose=100, early_stopping_rounds=100)
                  
    #xgb_model.fit(X_fit, y_fit, eval_metric='auc', 
    #              eval_set=[(X_val, y_val)], 
    #              verbose=1000, early_stopping_rounds=300)

    #lgb_train_result[test_index] += lgb_model.predict_proba(X_val)[:,1]
    #xgb_train_result[test_index] += xgb_model.predict_proba(X_val)[:,1]
    
    del X_fit, X_val, y_fit, y_val, train_index, test_index
    gc.collect()
    
    test = load_npz('test.npz')
    test = csr_matrix(test, dtype='float32')
    lgb_test_result += lgb_model.predict_proba(test)[:,1]
    #xgb_test_result += xgb_model.predict_proba(test)[:,1]
    counter += 1
    
    del test
    gc.collect()
    
    #Stop fitting to prevent time limit error
    #if counter == 3 : break

#print('\nLigthGBM VAL AUC Score: {}'.format(roc_auc_score(y_train, lgb_train_result)))
#print('\nXGBoost VAL AUC Score: {}'.format(roc_auc_score(y_train, xgb_train_result)))


#submission['HasDetections'] = xgb_test_result / counter
#submission.to_csv('xgb_submission.csv', index=False)
#submission['HasDetections'] = 0.5 * lgb_test_result / counter  + 0.5 * xgb_test_result / counter 
##submission.to_csv('lgb_xgb_submission.csv', index=False)

print('\nDone.')

In [9]:
submission = pd.read_csv('/home/ryan/cs/datasets/microsoft/sample_submission.csv')
submission['HasDetections'] = lgb_test_result / counter
submission.to_csv('lgb_submission.csv', index=False)