In [36]:
import numpy as np
import pandas as pd
from os.path import join
from itertools import chain
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [94]:
data_dir = '/home/ryan/cs/datasets/planet/'
labels_path = join(data_dir, 'orig/train_v2.csv')

In [71]:
labels_df = pd.read_csv(labels_path)
labels_df.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [72]:
labels_list = list(chain.from_iterable([tags.split(" ") for tags in labels_df['tags'].values]))
labels_set = set(labels_list)
print("There is {} unique labels including {}".format(len(labels_set), labels_set))

There is 17 unique labels including set(['slash_burn', 'clear', 'blooming', 'primary', 'cloudy', 'conventional_mine', 'water', 'haze', 'cultivation', 'partly_cloudy', 'artisinal_mine', 'habitation', 'bare_ground', 'blow_down', 'agriculture', 'road', 'selective_logging'])

In [73]:
labels_df['split'] = labels_df.tags.apply(lambda x: x.split(' '))

#split_df.columns

In [74]:
labels_df.head()

,image_name,tags,split
0,train_0,haze primary,"[haze, primary]"
1,train_1,agriculture clear primary water,"[agriculture, clear, primary, water]"
2,train_2,clear primary,"[clear, primary]"
3,train_3,clear primary,"[clear, primary]"
4,train_4,agriculture clear habitation primary road,"[agriculture, clear, habitation, primary, road]"

In [75]:
for label in labels_set:
    labels_df[label] = np.zeros(labels_df.shape[0]).astype(int)

In [89]:
for index, row in labels_df.iterrows():
    for l in row.split:
        labels_df.loc[index, l] = 1

In [90]:
labels_df.head()

,image_name,tags,split,slash_burn,clear,blooming,primary,cloudy,conventional_mine,water,haze,cultivation,partly_cloudy,artisinal_mine,habitation,bare_ground,blow_down,agriculture,road,selective_logging
0,train_0,haze primary,"[haze, primary]",0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,train_1,agriculture clear primary water,"[agriculture, clear, primary, water]",0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
2,train_2,clear primary,"[clear, primary]",0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,train_3,clear primary,"[clear, primary]",0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,train_4,agriculture clear habitation primary road,"[agriculture, clear, habitation, primary, road]",0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0

In [91]:
out_file = labels_df.drop(['tags', 'split'], axis=1)

In [92]:
out_file.head()

,image_name,slash_burn,clear,blooming,primary,cloudy,conventional_mine,water,haze,cultivation,partly_cloudy,artisinal_mine,habitation,bare_ground,blow_down,agriculture,road,selective_logging
0,train_0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,train_1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
2,train_2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,train_3,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,train_4,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0

In [95]:
out_file.to_csv(join(data_dir, 'processed/train.csv'))