In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn import preprocessing

In [2]:
train_file = '/home/ryan/cs/datasets/mercedes/train.csv'
test_file = '/home/ryan/cs/datasets/mercedes/test.csv'
train = pd.read_csv(train_file)
test = pd.read_csv(test_file)

In [3]:
for c in train.columns:
    if train[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train[c].values) + list(test[c].values)) 
        train[c] = lbl.transform(list(train[c].values))
        test[c] = lbl.transform(list(test[c].values))

In [7]:
usable_cols = train.columns.drop(['ID','y'])
grouped = train.groupby(list(usable_cols))

In [8]:
for name, group in grouped:
    if group.shape[0] > 1:
        print group.y

3512    121.57
3581    120.76
Name: y, dtype: float64
892     99.48
913    101.98
Name: y, dtype: float64
3287    105.08
3376     99.65
Name: y, dtype: float64
3070    106.96
3133    165.52
Name: y, dtype: float64
1735    106.52
1772    109.25
Name: y, dtype: float64
209    113.11
263    106.40
Name: y, dtype: float64
1547    110.47
1563    120.91
Name: y, dtype: float64
1560    125.91
1616    121.50
Name: y, dtype: float64
167    106.14
196    116.20
Name: y, dtype: float64
1689    110.88
1796    106.55
Name: y, dtype: float64
1981    103.85
2051    109.69
2063    105.94
Name: y, dtype: float64
3220    106.23
3325    116.93
Name: y, dtype: float64
3634    116.13
3706    104.57
3748    114.08
3818    116.36
Name: y, dtype: float64
3913    125.45
4009    108.69
Name: y, dtype: float64
1137    109.63
1176    122.65
Name: y, dtype: float64
2235    108.96
2325    108.05
Name: y, dtype: float64
2218    113.55
2305    121.79
Name: y, dtype: float64
2145    110.2
2149    108.8
Name: y, dtype: float64
2968    114.21
3021    108.02
Name: y, dtype: float64
1361     91.24
1457    112.88
Name: y, dtype: float64
1814    95.15
1819    88.31
1845    89.19
Name: y, dtype: float64
939     88.64
1035    89.75
1037    93.78
1058    93.34
1080    97.43
Name: y, dtype: float64
3914     88.28
4061    111.10
Name: y, dtype: float64
13      94.12
16     106.10
51      93.81
79      93.03
130     96.88
Name: y, dtype: float64
3998    87.68
4012    88.53
Name: y, dtype: float64
3974    89.96
4008    89.25
Name: y, dtype: float64
1110    109.78
1114    115.82
1122    121.03
1249    118.14
Name: y, dtype: float64
1586    117.60
1608    110.42
1635    112.27
Name: y, dtype: float64
1530    125.26
1612    125.76
Name: y, dtype: float64
3013    105.70
3111    109.18
Name: y, dtype: float64
3441    110.16
3519    118.87
Name: y, dtype: float64
1744    100.46
1815    107.97
1861     98.19
Name: y, dtype: float64
4135    95.58
4162    99.74
Name: y, dtype: float64
2014     95.35
2067    125.84
Name: y, dtype: float64
2773    100.25
2820     99.40
Name: y, dtype: float64
3195    104.36
3327    103.34
Name: y, dtype: float64
3656    101.52
3730     98.64
Name: y, dtype: float64
4049    100.87
4064    104.72
Name: y, dtype: float64
1125    118.18
1251     96.14
Name: y, dtype: float64
796    114.26
824    123.68
871     97.57
Name: y, dtype: float64
704    105.31
771    101.70
Name: y, dtype: float64
633     99.46
648    131.56
Name: y, dtype: float64
457    104.07
538     99.55
Name: y, dtype: float64
448    101.42
543    106.50
Name: y, dtype: float64
2182     97.16
2193     99.67
2238    108.71
2316    101.87
Name: y, dtype: float64
2201     98.12
2213    114.30
Name: y, dtype: float64
1984     98.97
2003    100.11
2138     95.89
Name: y, dtype: float64
2348    140.25
2371     99.95
Name: y, dtype: float64
2508    106.41
2519     99.56
2521     98.79
Name: y, dtype: float64
3815    101.12
3824    108.40
Name: y, dtype: float64
3445     96.82
3523    106.93
Name: y, dtype: float64
3685    100.21
3735    100.21
3743    109.67
Name: y, dtype: float64
1871    72.50
1956    73.89
Name: y, dtype: float64
2167    73.79
2233    86.19
Name: y, dtype: float64
2342    80.29
2471    76.16
Name: y, dtype: float64
30    76.01
38    79.00
Name: y, dtype: float64
1990    77.64
2136    75.05
Name: y, dtype: float64
3085    75.90
3128    73.53
Name: y, dtype: float64
3983    74.08
4023    82.44
Name: y, dtype: float64
400    77.14
421    77.31
Name: y, dtype: float64
184    79.09
208    77.36
Name: y, dtype: float64
351     97.75
397    117.49
Name: y, dtype: float64
192     98.96
232    103.98
Name: y, dtype: float64
2695    112.80
2712     99.14
Name: y, dtype: float64
2788    100.02
2844     97.51
Name: y, dtype: float64
3678    109.51
3805     99.86
Name: y, dtype: float64
18    89.81
93    98.91
Name: y, dtype: float64
3010    91.84
3145    90.48
Name: y, dtype: float64
1943    92.43
1950    94.56
Name: y, dtype: float64
2271    105.89
2282     90.36
Name: y, dtype: float64
2207    102.04
2299     91.99
Name: y, dtype: float64
3646    89.18
3684    91.13
Name: y, dtype: float64
2591    91.99
2721    89.72
Name: y, dtype: float64
2731    88.63
2750    88.88
Name: y, dtype: float64
567    88.20
571    94.00
596    90.76
Name: y, dtype: float64
372    89.23
468    87.28
Name: y, dtype: float64
364    100.64
413     90.87
Name: y, dtype: float64
280    92.94
311    99.82
Name: y, dtype: float64
2178    102.65
2326     87.49
Name: y, dtype: float64
978     111.89
1003    107.13
1077    128.14
Name: y, dtype: float64
3707    100.33
3788    100.61
Name: y, dtype: float64
1001    106.00
1007    101.66
Name: y, dtype: float64
347    107.16
363    116.59
Name: y, dtype: float64
702    108.68
748    113.35
Name: y, dtype: float64
706    110.54
735    105.96
Name: y, dtype: float64
483    107.86
491    116.34
Name: y, dtype: float64
3189    110.07
3335    112.89
Name: y, dtype: float64
1979    108.99
2046    108.49
Name: y, dtype: float64
1758    114.57
1839    122.31
Name: y, dtype: float64
2894    112.67
2937    107.09
Name: y, dtype: float64
2708    110.36
2733    128.58
Name: y, dtype: float64
2801    106.85
2859    109.08
Name: y, dtype: float64
3318    107.05
3347    110.14
Name: y, dtype: float64
3638    128.30
3762    107.34
3775    106.74
Name: y, dtype: float64
2383    111.04
2389    112.43
Name: y, dtype: float64
3044    107.96
3083    107.90
Name: y, dtype: float64
2978    107.35
2983    139.16
2992    105.29
3007    108.82
Name: y, dtype: float64
3813    105.40
3833    110.74
Name: y, dtype: float64
3886    109.99
3907    108.70
4017    106.58
Name: y, dtype: float64
4119    108.72
4177    106.61
Name: y, dtype: float64
4110    118.41
4133    105.04
4160    108.75
4163    104.42
Name: y, dtype: float64
37    117.31
85    110.37
Name: y, dtype: float64
1513     94.60
1625    113.87
Name: y, dtype: float64
1680     91.76
1868    105.64
Name: y, dtype: float64
198    87.65
306    91.82
Name: y, dtype: float64
3631    88.86
3665    92.59
Name: y, dtype: float64
720    91.62
724    87.71
740    88.90
814    93.82
844    97.32
Name: y, dtype: float64
346    96.03
349    87.27
370    95.13
409    88.58
419    93.67
446    89.66
500    92.88
Name: y, dtype: float64
3769    97.16
3806    88.13
Name: y, dtype: float64
701     91.35
718     94.60
752    115.62
854     91.21
Name: y, dtype: float64
1910    91.44
1939    89.90
Name: y, dtype: float64
1128    87.53
1162    97.72
Name: y, dtype: float64
1105    103.41
1183    100.37
Name: y, dtype: float64
1281     88.18
1286    109.26
1412     93.57
Name: y, dtype: float64
1317    99.26
1449    94.26
Name: y, dtype: float64
1338    90.05
1398    99.60
Name: y, dtype: float64
1805     92.47
1863    100.71
Name: y, dtype: float64
761    97.99
827    93.80
Name: y, dtype: float64
921     92.38
1018    92.73
Name: y, dtype: float64
929     87.13
943    101.20
961     93.42
Name: y, dtype: float64
608    104.29
637     89.97
Name: y, dtype: float64
2987    95.86
3018    86.91
Name: y, dtype: float64
4032    89.71
4071    85.68
Name: y, dtype: float64
1537    93.58
1566    89.90
Name: y, dtype: float64
693    119.57
804     93.72
Name: y, dtype: float64
784    98.04
787    90.65
792    95.71
816    95.00
Name: y, dtype: float64
830    94.67
867    91.11
Name: y, dtype: float64
1053    94.11
1071    90.70
Name: y, dtype: float64
417     98.01
536    100.07
Name: y, dtype: float64
390     87.51
454     87.97
493    101.02
Name: y, dtype: float64
439    93.14
469    89.10
Name: y, dtype: float64
3741    91.17
3790    93.67
Name: y, dtype: float64
2989    99.37
3059    87.22
3100    98.31
3176    92.10
Name: y, dtype: float64
2619    90.57
2685    93.60
Name: y, dtype: float64
3496     92.41
3513    105.03
Name: y, dtype: float64
183    87.44
304    89.03
Name: y, dtype: float64
722    87.07
808    90.62
Name: y, dtype: float64
600     90.86
604    111.21
628     89.44
Name: y, dtype: float64
575    91.16
576    95.56
Name: y, dtype: float64
580    90.28
583    95.03
Name: y, dtype: float64
2477    85.49
2482    89.42
2489    90.82
2526    90.14
Name: y, dtype: float64
3867    92.41
3975    88.85
Name: y, dtype: float64
2593    94.70
2596    98.14
Name: y, dtype: float64
3463    111.51
3470    129.65
3584    105.65
Name: y, dtype: float64
3771    114.73
3791    109.18
Name: y, dtype: float64
3876    108.43
3982    106.36
3996    108.82
4033    108.57
Name: y, dtype: float64
3063    105.00
3114    111.91
Name: y, dtype: float64
2706    109.00
2752    113.31
Name: y, dtype: float64
2670    110.03
2722    108.54
Name: y, dtype: float64
1294    105.18
1420    106.58
Name: y, dtype: float64
570    109.91
597    113.33
635    111.54
Name: y, dtype: float64
568    115.92
572    108.23
630    116.87
Name: y, dtype: float64
725    111.54
732    117.08
739    107.75
754    111.48
Name: y, dtype: float64
742    113.15
765    117.07
Name: y, dtype: float64
1028    117.98
1036    144.36
Name: y, dtype: float64
371    108.43
410    111.92
436    103.98
555    106.81
Name: y, dtype: float64
146    112.44
158    104.08
Name: y, dtype: float64
64    109.76
77    111.15
Name: y, dtype: float64
1581    112.06
1593    106.83
Name: y, dtype: float64
2018    112.53
2028    109.13
Name: y, dtype: float64
1163    111.31
1205    150.89
1228    105.65
Name: y, dtype: float64
1757    110.94
1829    119.59
Name: y, dtype: float64
23     120.77
29     128.19
32     106.87
45     110.52
90     110.98
95     115.43
98     127.66
106    106.31
123    113.69
Name: y, dtype: float64
2143    109.40
2157    109.05
Name: y, dtype: float64
1129    111.02
1180    106.18
1271    111.31
Name: y, dtype: float64
147    105.74
235    106.19
Name: y, dtype: float64
2777    125.25
2781    118.54
2828    124.75
Name: y, dtype: float64
2635    108.61
2644    109.97
Name: y, dtype: float64
2350    108.37
2447    135.53
Name: y, dtype: float64
3331    108.86
3374    109.93
Name: y, dtype: float64
3899    126.52
3905    103.31
Name: y, dtype: float64
911    108.36
922    104.19
948    107.59
Name: y, dtype: float64
1995    109.63
2159    105.36
Name: y, dtype: float64
2572    108.69
2735    158.23
Name: y, dtype: float64
2403    119.70
2410    105.13
2463    108.98
Name: y, dtype: float64
3034    116.13
3048    111.05
3162    112.90
Name: y, dtype: float64
3447    104.18
3526    110.59
Name: y, dtype: float64
3284    106.64
3383    109.60
Name: y, dtype: float64
3890    104.89
3893    104.93
4010    109.58
4058    109.50
Name: y, dtype: float64
3006    112.72
3089     85.37
Name: y, dtype: float64
3261    89.35
3357    91.30
Name: y, dtype: float64
1716    106.18
1727    100.00
Name: y, dtype: float64
2241    91.31
2279    96.51
Name: y, dtype: float64
2229    91.43
2285    89.51
Name: y, dtype: float64
2019    92.60
2069    87.06
Name: y, dtype: float64
2656    89.00
2701    93.22
Name: y, dtype: float64
2784    93.62
2945    90.80
Name: y, dtype: float64
3218     91.94
3368    105.82
Name: y, dtype: float64
4078    86.96
4086    95.10
Name: y, dtype: float64
3419    89.08
3494    85.89
Name: y, dtype: float64
3900    85.59
4002    94.01
Name: y, dtype: float64
1615     87.95
1627    133.50
1644    104.92
Name: y, dtype: float64
58      95.57
72     118.53
110     89.49
Name: y, dtype: float64
1264    86.6
1274    92.8
Name: y, dtype: float64
578    89.60
603    92.01
Name: y, dtype: float64
540    97.17
546    97.57
Name: y, dtype: float64
2203    98.96
2317    91.93
Name: y, dtype: float64
187     97.81
204     91.02
228    104.16
277     99.05
Name: y, dtype: float64
3804    104.22
3807    103.91
Name: y, dtype: float64
2841    101.90
2915     89.43
Name: y, dtype: float64
2032    88.95
2102    88.77
Name: y, dtype: float64
2716    99.02
2720    98.84
Name: y, dtype: float64
3130     94.62
3175    107.90
Name: y, dtype: float64
2210    94.50
2217    92.52
Name: y, dtype: float64
2569    87.78
2583    99.49
2586    95.58
Name: y, dtype: float64
2558    90.53
2683    86.61
Name: y, dtype: float64
2430    90.16
2495    85.72
Name: y, dtype: float64
2415    117.08
2549    112.19
Name: y, dtype: float64
2338    114.27
2351     90.28
2490     93.71
2529     93.06
Name: y, dtype: float64
2998    99.64
3057    89.51
Name: y, dtype: float64
3493    89.22
3514    89.62
Name: y, dtype: float64
3498    109.13
3509     96.65
Name: y, dtype: float64
3864    87.75
3967    88.75
Name: y, dtype: float64
3969    87.22
4046    87.94
Name: y, dtype: float64
4125    90.82
4191    88.93
4197    89.25
Name: y, dtype: float64
3205    93.04
3275    88.10
3323    92.63
Name: y, dtype: float64
3688     86.66
3752    102.45
Name: y, dtype: float64

In [9]:
X_trn = train.drop(['ID', 'y'], axis=1)
y_trn = train.y
X_test = test.drop('ID', axis=1)

In [10]:
print X_trn.shape
print X_test.shape

(4209, 376)
(4209, 376)

In [11]:
iso = IsolationForest(n_estimators=100, contamination=0.1, 
                     max_features=1.0, n_jobs=1, random_state=0,
                     verbose=0)

In [12]:
count = 0
mean_values = pd.DataFrame(columns=['ID', 'y'])
for name, group in grouped:
    if group.shape[0] > 1:
        iso.fit(group.drop('ID', axis=1))
        preds = iso.predict(group.drop('ID', axis=1))
        indices = []
        for i in range(len(preds)):
            if preds[i] == 1:
                indices.append(i)
        if len(indices) < 1: 
            indices = range(len(preds))
        mean = group.y.values[indices].mean()
        for i in group.ID.values:
            mean_values.loc[count] = [i, mean]
            count += 1

In [13]:
mean_values.ID = mean_values.ID.astype(int)

In [15]:
print 'Shape before merge: {}'.format(train.shape)
print 'Merging...'
merged_train = train.merge(mean_values, how='left', on='ID', suffixes=('','_mean'))
print 'Shape after merge: {}'.format(merged_train.shape)

Shape before merge: (4209, 378)
Merging...
Shape after merge: (4209, 380)

In [18]:
merged_train['y'] = np.where(np.isnan(merged_train['y_mean']), merged_train['y'], merged_train['y_mean'])

In [19]:
merged_train = merged_train.drop('y_mean', axis=1)

In [23]:
free_labels = test.merge(merged_train, how='left', on=list(usable_cols), suffixes=('','_extra'))

In [24]:
print free_labels.head()

   ID  X0  X1  X2  X3  X4  X5  X6  X8  X10       ...         X378  X379  X380  \
0   1  24  23  38   5   3  26   0  22    0       ...            1     0     0
1   2  46   3   9   0   3   9   6  24    0       ...            0     0     0
2   3  24  23  19   5   3   0   9   9    0       ...            1     0     0
3   4  24  13  38   5   3  32  11  13    0       ...            1     0     0
4   5  49  20  19   2   3  31   8  12    0       ...            0     0     0

   X382  X383  X384  X385  ID_extra   y  duplicate_count
0     0     0     0     0       NaN NaN              NaN
1     0     0     0     0       NaN NaN              NaN
2     0     0     0     0       NaN NaN              NaN
3     0     0     0     0       NaN NaN              NaN
4     0     0     0     0       NaN NaN              NaN

[5 rows x 380 columns]