In [1]:
import sys
old_stderr = sys.stderr
sys.stderr = open('/dev/null', 'w')
import keras
sys.stderr = old_stderr
import pandas as pd

In [2]:
# TRN_PATH = '/home/ryan/cs/datasets/hwi/train'
bbox1_path = '/home/ryan/cs/datasets/hwi/bounding_boxes/bb.csv'
bbox2_path = '/home/ryan/cs/datasets/hwi/bounding_boxes/bb_kaggle.csv'
bbox3_path = '/home/ryan/cs/datasets/hwi/bounding_boxes/bb_labels.csv'

bbox_train_path = '/home/ryan/cs/datasets/hwi/bounding_boxes'

In [3]:
bbox1 = pd.read_csv(bbox1_path)

In [4]:
bbox1.head()

             fn            bbox
0  00ad9219.jpg   9 10 276 1044
1  3b339885.jpg  27 13 459 1034
2  00ded600.jpg  15 14 483 1029
3  06e622e0.jpg   13 10 261 880
4  3bf857ac.jpg   13 2 420 1044

In [5]:
bbox2 = pd.read_csv(bbox2_path)
bbox2.head()

             fn ystart xstart yend xend
0  097f138b.jpg           20 3 423 1042
1  c85f1d58.jpg          14 25 547 1009
2  0739fcdc.jpg          48 37 304 1020
3  12440f36.jpg          75 34 516 1019
4  21db85f5.jpg            8 8 274 1039

In [6]:
bbox3 = pd.read_csv(bbox3_path)
bbox3 = bbox3.rename(index=str, columns={'image': 'fn'})
bbox3.drop(['target_size_1', 'target_size_2'], axis=1, inplace=True)
bbox3.head()

             fn  xmin  ymin  xmax  ymax
0  00022e1a.jpg     9     9   621   325
1  000466c4.jpg   227   293   590   445
2  001296d5.jpg     4    20   390   150
3  0014cfdf.jpg    41   115   662   300
4  0025e8c2.jpg   117   210   906   408

In [7]:
print(len(bbox1))
print(len(bbox2))
print(len(bbox3))

535
672
599

In [8]:
bbox1['xmin'], bbox1['ymin'], bbox1['xmax'], bbox1['ymax'] = bbox1['bbox'].str.split(' ', 3).str
bbox1.drop(['bbox'], axis=1, inplace=True)
bbox1.head()

             fn xmin ymin xmax  ymax
0  00ad9219.jpg    9   10  276  1044
1  3b339885.jpg   27   13  459  1034
2  00ded600.jpg   15   14  483  1029
3  06e622e0.jpg   13   10  261   880
4  3bf857ac.jpg   13    2  420  1044

In [9]:
bbox2['ymin'], bbox2['xmin'], bbox2['ymax'], bbox2['xmax'] = bbox2['ystart xstart yend xend'].str.split(' ', 3).str
bbox2 = bbox2.rename(index=str, columns={'image':'fn'})
bbox2.drop(['ystart xstart yend xend'], axis=1, inplace=True)
bbox2.head()

             fn ymin xmin ymax  xmax
0  097f138b.jpg   20    3  423  1042
1  c85f1d58.jpg   14   25  547  1009
2  0739fcdc.jpg   48   37  304  1020
3  12440f36.jpg   75   34  516  1019
4  21db85f5.jpg    8    8  274  1039

In [10]:
bbox_labels = pd.concat([bbox1, bbox2, bbox3], axis=0, join='outer')

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
bbox_labels.head()

             fn xmax xmin  ymax ymin
0  00ad9219.jpg  276    9  1044   10
1  3b339885.jpg  459   27  1034   13
2  00ded600.jpg  483   15  1029   14
3  06e622e0.jpg  261   13   880   10
4  3bf857ac.jpg  420   13  1044    2

In [16]:
from PIL import Image
from PIL.ImageDraw import Draw

def read_raw_image(file):
    return Image.open('/home/ryan/cs/datasets/hwi/bounding_boxes/train/' + file)

In [18]:
img = read_raw_image(bbox_labels['fn'][1])

FileNotFoundError: [Errno 2] No such file or directory: '/home/ryan/cs/datasets/hwi/bounding_boxes/train/3b339885.jpg'